.App {
  /* text-align: center; */
}
.App-header {
  --op-gradient-direction: to top left;
  background-image: var(--gradient-5);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 8px;
  gap: 8px;
  /* display: grid; */
  /* justify-content: start; */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: start; */
  /* justify-content: start; */
  font-size: calc(10px + 2vmin);
}
