/* @import "https://unpkg.com/open-props"; */
/* @import "https://unpkg.com/open-props/normalize.min.css"; */

:root {
   --blue-text: hsl(213, 94%, 42%);
  --gold-highlight: hsl(48, 100%, 58%);
  --gold-highlight-relaxed: hsl(48, 100%, 78%);
  --gold-trim: hsl(48, 100%, 22%);
  --gold-text: hsl(48, 100%, 35%);
  --gold-gloss: hsl(48, 100%, 94%);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Overall layout */

@tailwind base;
@tailwind components;
@tailwind utilities;
